# Excluir carpetas generadas por Unity
[Ll]ibrary/
[Tt]emp/
[Oo]bj/
[Bb]uild/
[Bb]uilds/
[Ll]ogs/
[Uu]ser[Ss]ettings/

# Excluir archivos de memoria y caché
MemoryCaptures/
[Cc]rash[Rr]eports/

# Excluir archivos generados por Visual Studio / IDEs
*.csproj
*.unityproj
*.sln
*.suo
*.tmp
*.user
*.userprefs
*.pidb
*.boop
*.svd
*.pdb
*.mdb
*.opendb
*.VC.db

# Excluir archivos del sistema operativo (Windows/Mac)
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
Thumbs.db
.vs/